<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lttn.womenapp">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application

        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name">

        <activity
            android:name="com.lttn.womenapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lttn.womenapp.Register"
            android:parentActivityName="com.lttn.womenapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lttn.womenapp.MainActivity" />
        </activity>
        <activity
            android:name="com.lttn.womenapp.Display"
            android:parentActivityName="com.lttn.womenapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lttn.womenapp.MainActivity" />
        </activity>
        <activity
            android:name="com.lttn.womenapp.Instructions"
            android:parentActivityName="com.lttn.womenapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lttn.womenapp.MainActivity" />
        </activity>
        <activity
            android:name="com.lttn.womenapp.OnShake"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="com.lttn.womenapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lttn.womenapp.MainActivity" ></meta-data>
        </activity>
    </application>

</manifest>